{% extends "base.html" %}

{% block content %}
<style>
    th {
        overflow:hidden; white-space : nowrap; text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="col-7" >
        </br>
        <div class="container">
            <h1>COA 관리 페이지</h1>
        
        </div>
        </br>
        <div class="container">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope='col'>코드</th>
                        <th scope='col'>계정명</th>
                        <th scope='col'>대분류</th>
                        <th scope='col'>중분류</th>
                        <th scope='col'>소분류</th>
                        <th scope='col'>재무제표</th>
                        <th scope='col'>비고</th>
                    </tr>
                    
                </thead>
                <tbody class="table_body">
                </tbody>
            </table>
        </div>

        <!--페이지네이션-->
        <div class="position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
            <nav aria-label="Page navigation example">
                <ul class="pagination"></ul>
            </nav>
        </div>
        </br>
        </br>
    </div>
    <div class="container text-center">
        <h1 id="main_title"></h1>
    </div>
    </div>
    
    <div class="col-5">
        <div class="container">

        </br><h1>데이터 추가</h1></br></br>
            <div class="border border-2">
            </br>
            <form id="form" name = "form" method="POST">
                {% csrf_token %} 
                <div class="container text-center">    
                    <div class="row row-cols-2">
                        <p>코드 : </p> 
                        <input type="number" name="코드"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>계정명 : </p> 
                        <input type="text" name="계정명"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>계정_대분류 : </p> 
                        <input type="text" name="계정_대분류"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>계정_중분류 : </p> 
                        <input type="text" name="계정_중분류"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>계정_소분류 : </p>  
                        <input type="text" name="계정_소분류"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>제무제표 : </p>  
                        <input type="text" name="재무제표"></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row row-cols-2">
                        <p>비고 : </p>  
                        <input type="text" name='비고'></input>
                    </div>
                </div>
                <div class="container text-center">
                    <hr>
                    <div class="row-cols-2">
                        <button class="btn btn-success" type="submit" onclick="formSubmit()">추가</button>
                    </div>
                </div>
            </form>
            </br>
            </div>
        </div>
    </div>
</div>
</br>

<script>
    $(document).ready(reqAjax(1))
    
    function reqAjax(currentPage) {
       
        var search_keyword = $('#search').val();
        
        //console.log(`검색어 : ${search_keyword}`)
        //console.log(`현재 페이지 : ${currentPage}`)
        
        api_url = `/erp/api/COA/?page=${currentPage}`

        $.ajax({
            url: api_url
            , method : 'GET'
            , dataType:"json"
            , success :  function(data){
                $('.table_body').empty()
                $('.pagination').empty()

                var totalCount = data["count"] // 전체 데이터 수
                var totalPage = Math.ceil(totalCount / 10) // 전체 페이지 수
                
                const pageCount = 5 //페이지 그룹 수

                let totalGroup = Math.ceil(totalPage / pageCount) // 전체 그룹 수
                let pageGroup = Math.ceil(currentPage / pageCount)  // 현재 그룹 번호

                var page = ""
                const next = Number(currentPage) + 1
                const prev = Number(currentPage) - 1 
                
                if(currentPage!=1){page += `<li class="page-itemr" id="page_${currentPage}"><a class="page-link" onclick="reqAjax('${prev}')"><</a></li>`}

                if(currentPage>5){
                    if((totalGroup==pageGroup)){ // 마지막 그룹 일 경우
                        for(let i = Number(currentPage)-3; i <= totalPage; i++) {page +=pagemaker(currentPage,i,page)}
                    }
                    else{
                        for(let i = Number(currentPage)-2; i <= Number(currentPage)+2; i++) {
                            if(i<=totalPage){
                                page += pagemaker(currentPage,i,page)
                            }
                        }
                    }
                }
                else{
                    if(totalPage<=5){
                        for(let i = 1; i <= totalPage; i++) {page += pagemaker(currentPage,i,page)}
                    }
                    else{
                        for(let i = 1; i <= 5; i++) {page += pagemaker(currentPage,i,page)}
                    } 
                }

                if(currentPage!=totalPage){page += `<li class="page-itemr" id="page_${currentPage}"><a class="page-link" onclick="reqAjax('${next}')">></a></li>`}
                
                $('.pagination').append(page);

                str = '<TR>';

                let end_data = data["results"].length

                const list_col = ['코드','계정명','계정_대분류','계정_중분류','계정_소분류','재무제표','비고']

                for(var j = 0; j < end_data; j++){
                    for(c in list_col){
                        str +=  '<TD '+ 'onClick="location.href='+"'/erp/coa/"+ data["results"][j].코드 + "'" + '">' + data["results"][j][list_col[c]] + '</TD>';
                    }
                    str += '</TR>';
                }

                $('.table_body').append(str);

                //console.log("첫번째 페이지 : " + firstNumber);
                //console.log("마지막 페이지 : " + lastNumber);
                console.log("데이터 개수 : " + totalCount);
                console.log("현재 페이지 : " + currentPage);
                console.log("전체 페이지 : " + totalPage);
                console.log("현재 페이지 그룹 : " + pageGroup);
                console.log("전체 페이지 그룹 : " + totalGroup);
                //console.log("정렬 : " + ordering);

            }
        })
    }

    function pagemaker(currentPage,i) {
        var page

        if(currentPage==i){
            page = `<li class="page-item active" id="page_${i}"><a class="page-link" onclick="reqAjax('${i}')">${i}</a></li>` 
            }
        else{page = `<li class="page-itemr" id="page_${i}"><a class="page-link" onclick="reqAjax('${i}')">${i}</a></li>`}

        return page
    }

    function formSubmit() {
        var params = jQuery("#form").serialize(); // serialize() : 입력된 모든Element(을)를 문자열의 데이터에 serialize 한다.
        
        $.ajax({
            url: '/erp/api/COA/',
            type: 'POST',
            data:params,
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            dataType: 'html',
            success: function (result) {
                console.log("성공")
            }
        });
    }
</script>

{% endblock %}