{% extends "base.html" %}

{% block content %}
<style>
    th {
        overflow:hidden; white-space : nowrap; text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="col-7">
        </br>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <h1>중헌제약 재직자 명단</h1>
                </div>
                <div class="col-6">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">옵션</a>
                        <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="../incumbent_upload">업로드</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="../incumbent_download">다운로드</a>
                        </li>
                        </ul>
                    </div>
                </div> 
            </div>
            </br>
            <div class="row">
                <div class="col-5">
                    <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search"></input>
                </div>
                <div class="col-5">
                    <button class="btn btn-outline-success" type="submit" onclick="search()">검색</button>
                
                </div>
            </div></br>
            <h3 id="search_show"></h3>
        </div></br>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope='col'>사번</th>
                        <th scope='col'>구분</th>
                        <th scope='col'>이름</th>
                        <th scope='col'>영문이름</th>
                        <th scope='col'>근무지</th>
                        <th scope='col'>부서</th>
                        <th scope='col'>팀</th>
                        <th scope='col'>직급</th>
                        <th scope='col'>직책</th>
                        <th scope='col'>입사일</th>
                        <th scope='col'>근속일</th>
                        <th scope='col'>주민등록번호</th>
                        <th scope='col'>생년월일</th>
                        <th scope='col'>연락처</th>
                        <th scope='col'>비상연락망</th>
                        <th scope='col'>회사 이메일</th>
                        <th scope='col'>개인 이메일</th>
                        <th scope='col'>주소</th>
                        <th scope='col'>최종학력</th>
                        <th scope='col'>학위</th>
                        <th scope='col'>학교</th>
                        <th scope='col'>전공</th>
                        <th scope='col'>학점</th>
                        <th scope='col'>입사구분</th>
                        <th scope='col'>경력사항1</th>
                        <th scope='col'>경력사항2</th>
                        <th scope='col'>경력사항3</th>
                        <th scope='col'>경력사항4</th>
                        <th scope='col'>경력사항5</th>
                        <th scope='col'>자격사항1</th>
                        <th scope='col'>자격사항2</th>
                        <th scope='col'>자격사항3</th>
                        <th scope='col'>자격사항4</th>
                        <th scope='col'>자격사항5</th>
                        <th scope='col'>어학사항1</th>
                        <th scope='col'>어학사항2</th>
                        <th scope='col'>어학사항3</th>
                        <th scope='col'>어학사항4</th>
                        <th scope='col'>어학사항5</th>
                        <th scope='col'>옵션</th>
                    </tr>
                </thead>
                <tbody class="table_body">
                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <h1 id="main_title"></h1>
        </div>
    </div>
    <div class="col-5">

    </div>
    <!--페이지네이션-->
    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <nav aria-label="Page navigation example">
                <ul class="pagination"></ul>
            </nav>
        </div>
        </br>
        </br>
    </div>
</div>
</br>
<script>
    function search() {
        var search_keyword = $('#search').val();
        location.replace(`/erp/incumbent/?page=1&search=${search_keyword}&퇴직여부=false`);
        reqAjax()
    }

    function reqAjax() {
        var currentPage = window.location.href.split("/")
        if (currentPage[5] == ""){currentPage = 1;}
        else {currentPage = currentPage[5].substr(6).split("&")[0]}

        // 검색어 쿼리 찾기
        search_keyword = window.location.href.split("/")[5].substr(6).split("&")[1].substr(7);
        //$('.search').val() = search_keyword;
        // 요청 url 
        api_url = `/erp/api/Incumbent/?page=${currentPage}&search=${search_keyword}&퇴직여부=false`
        

        $('#search_show').append(`검색어 : ${decodeURI(search_keyword)}`)

        console.log(search_keyword)
        $.ajax({
            url: api_url
            , method : 'GET'
            , dataType:"json"
            , success :  function(data){

                $('.table_body').empty()
                $('.pagination').empty()

                // 총 페이지 계산
                var totalCount = data["count"]
                var totalPage = Math.ceil(totalCount / 10)

                // 페이지 그룹
                const pageCount = 5

                let pageGroup = Math.ceil(currentPage / pageCount)
                let lastNumber = pageGroup * pageCount // 5

                if (lastNumber > totalPage) {lastNumber = totalPage}
                let firstNumber = lastNumber - (pageCount - 1) // 1
                
                if(firstNumber<=0){firstNumber=1}
                const next = lastNumber + 1 // 6
                const prev = firstNumber - 1 // 0

                var page = ""
                
                // 이전 버튼
                if(currentPage>5){
                    page+=`<li class="page-itemr" id="page_${currentPage}"><a class="page-link" href="?page=${prev}&search=${search_keyword}&퇴직여부=false">이전</a></li>`
                }
                // 1~5만큼 페이지네이션 그려줌
                for (let i = firstNumber; i <= lastNumber; i++) {
                    page += `<li class="page-itemr" id="page_${i}"><a class="page-link" href="?page=${i}&search=${search_keyword}&퇴직여부=false">${i}</a></li>`
                }
                // 다음 버튼
                if(currentPage!=totalPage){
                    page += `<li class="page-itemr" id="page_${currentPage}"><a class="page-link" href="?page=${next}&search=${search_keyword}&퇴직여부=false">다음</a></li>`
                }
                $('.pagination').append(page);

                let end_data = data["results"].length

                const list_col = ['사번','구분','이름','영문이름','근무지','부서','팀','직급','직책','입사일','근속일','주민등록번호','생년월일','연락처','비상연락망','회사_이메일','개인_이메일','주소','최종학력','학위','학교','전공','학점','입사구분','경력사항1','경력사항2',
                '경력사항3','경력사항4','경력사항5','자격사항1','자격사항2','자격사항3','자격사항4','자격사항5','어학사항1','어학사항2','어학사항3','어학사항4','어학사항5']; 
                
                str = '<TR>';
        
                for(var j = 0; j < end_data; j++){
                    for(c in list_col){
                        if(`${data["results"][j][list_col[c]]}`=="null"){
                            str +=  `<TD style="overflow:hidden; white-space : nowrap; text-overflow: ellipsis;"> </TD>`;
                        }
                        else{
                            str +=  `<TD style="overflow:hidden; white-space : nowrap; text-overflow: ellipsis;"> ${data["results"][j][list_col[c]]} </TD>`;
                        }
                    }
                    str = str + 
                    `<TD>
                        <div class="dropdown">
                            <a class="btn btn-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">옵션</a>
                            <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/erp/incumbent/${data["results"][j].사번}">수정</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" onclick="formDelete(${data["results"][j].사번},'${data["results"][j].이름}')">퇴직</a>
                            </li>
                            </ul>
                        </div> 
                    </TD>
                    </TR>`;
                }
                // 데이터 확인
                console.log("가져오기 성공");
                console.log(data);
                console.log("첫번째 페이지 : " + firstNumber);
                console.log("마지막 페이지 : " + lastNumber);
                console.log("데이터 개수 : " + totalCount);
                console.log("현재 페이지 : " + currentPage);
                console.log("전체 페이지 : " + totalPage);

                //console.log("검색어 : " + search_keyword);

                $('.table_body').append(str);
            },
            error: function(result) {
                $('#main_title').append("로그인이 필요합니다 !");
            }
        })
    }

    $(document).ready(reqAjax())

    function formDelete(worker_number,name) {
        var data2 = {'퇴직여부' : true};
        
        $.ajax({
            url:`/erp/api/Incumbent/${worker_number}/`
            , method : 'PATCH'
            , data: JSON.stringify(data2)
            , contentType: 'application/json; charset=UTF-8'
            , dataType: 'json'
            , success : function(){
                location.replace('/erp/incumbent/?page=1&search=&퇴직여부=false')
                alert(`${name}님의 퇴직 처리가 완료 되었습니다.`)
            }
        })
    }

    function download() {
        
    }

</script>
{% endblock %}