{% extends "base.html" %}

{% block content %}
<div class="row">
    <div>
        </br>
        <div class="container">
            <h1>엑셀 업로드</h1>
        </div>
        </br></br>
        <div class="container">
            <form id="form" name = "form" enctype="multipart/form-data">
                {% csrf_token %} 
                <input type="file" name="upfile" id="upfile"></input>
                <button class="btn btn-success" type="submit" onclick="formSubmit()">추가</button>
            </form>
        </div>
    </div>
</div>
<script>
    function formSubmit() {
        const fileInput = $("#upfile")[0];
        console.log("fileInput: ", fileInput.files)

        const formData = new FormData();
        formData.append("upfile", fileInput.files[0]);

        $.ajax({
            url: '/erp/api/IncumbentUpdate/',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
        
            success: function (result) {
                const message = rtn.data.values[0];
                console.log("message: ", message)
            }
        });
    }
</script>
{% endblock %}