{% extends "base.html" %}

{% block content %}
<div class="row">
    <div>
        </br>
        <div class="container">
            <h1>엑셀 업로드</h1>
        </div>
        </br></br>
        <div class="container">
            <form id="form" name = "form" enctype="multipart/form-data">
                {% csrf_token %} 
                <input type="file" name="upfile" id="upfile"></input>
                
            </form>
            <button class="btn btn-success" onclick="formSubmit()">추가</button>
        </div>
    </div>
    <h1 id="text"></h1>
</div>
<script>
    function formSubmit() {
        const fileInput = $("#upfile")[0];
        console.log("fileInput: ", fileInput.files)

        const formData = new FormData();
        formData.append("upfile", fileInput.files[0]);

        $.ajax({
            url: '/erp/api/IncumbentUpdate/',
            type: 'POST',
            processData: false,
            contentType: false,
            data: formData,
            complete : function(request,status) {
                alert("code:"+request.status +"\n"+ request.responseText);
            }
        });
    }
</script>
{% endblock %}