{% extends "base.html" %}

{% block content %}
<style>
    th {
        overflow:hidden; white-space : nowrap; text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="col-7">
        </br>
        <div class="container">
            <h1>중헌제약 퇴직자 명단</h1>
        </div>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope='col'>사번</th>
                        <th scope='col'>구분</th>
                        <th scope='col'>이름</th>
                        <th scope='col'>영문이름</th>
                        <th scope='col'>근무지</th>
                        <th scope='col'>부서</th>
                        <th scope='col' >팀</th>
                        <th scope='col'>직급</th>
                        <th scope='col'>직책</th>
                        <th scope='col' >입사일</th>
                        <th scope='col'>근속일</th>
                        <th scope='col'>주민등록번호</th>
                        <th scope='col'>생년월일</th>
                        <th scope='col'>연락처</th>
                        <th scope='col'>비상연락망</th>
                        <th scope='col'>회사 이메일</th>
                        <th scope='col'>개인 이메일</th>
                        <th scope='col'>주소</th>
                        <th scope='col'>최종학력</th>
                        <th scope='col'>학위</th>
                        <th scope='col'>학교</th>
                        <th scope='col'>전공</th>
                        <th scope='col'>학점</th>
                        <th scope='col'>입사구분</th>
                        <th scope='col'>경력사항1</th>
                        <th scope='col'>경력사항2</th>
                        <th scope='col'>경력사항3</th>
                        <th scope='col'>경력사항4</th>
                        <th scope='col'>경력사항5</th>
                        <th scope='col'>자격사항1</th>
                        <th scope='col'>자격사항2</th>
                        <th scope='col'>자격사항3</th>
                        <th scope='col'>자격사항4</th>
                        <th scope='col'>자격사항5</th>
                        <th scope='col'>어학사항1</th>
                        <th scope='col'>어학사항2</th>
                        <th scope='col'>어학사항3</th>
                        <th scope='col'>어학사항4</th>
                        <th scope='col'>어학사항5</th>
                    </tr>
                </thead>
                <tbody class="table_body">
                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <h1 id="main_title"></h1>
        </div>
    </div>
    <div class="col-5">

    </div>
    <!--페이지네이션-->
    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <nav aria-label="Page navigation example">
                <ul class="pagination"></ul>
            </nav>
        </div>
        </br>
        </br>
    </div>
</div>
</br>
<script>
    $(document).ready(function reqAjax() {
        var currentPage = window.location.href.split("/")
        if (currentPage[5] == ""){currentPage = 1;}
        else {currentPage = currentPage[5].substr(6)}
        $.ajax({
            url:'/erp/api/Incumbent/?page='+ currentPage +'&개인_이메일=&경력사항1=&경력사항2=&경력사항3=&경력사항4=&경력사항5=&구분=&근무지=&근속일=&부서=&비상연락망=&사번=&생년월일=&어학사항1=&어학사항2=&어학사항3=&어학사항4=&어학사항5=&연락처=&영문이름=&이름=&입사구분=&입사일=&자격사항1=&자격사항2=&자격사항3=&자격사항4=&자격사항5=&전공=&주민등록번호=&주소=&직급=&직책=&최종학력=&퇴직여부=true&팀=&학교=&학위=&학점=&회사_이메일='
            , method : 'GET'
            , dataType:"json"
            , success :  function(data){
                // 총 페이지 계산
                var totalCount = data["count"]
                var totalPage = Math.ceil(totalCount / 10)

                // 페이지 그룹
                const pageCount = 5

                let pageGroup = Math.ceil(currentPage / pageCount)
                let lastNumber = pageGroup * pageCount // 5

                if (lastNumber > totalPage) {lastNumber = totalPage}
                let firstNumber = lastNumber - (pageCount - 1) // 1
                if(firstNumber<=0){firstNumber=1}
                const next = lastNumber + 1 // 6
                const prev = firstNumber - 1 // 0

                var page = ""
                
                // 이전 버튼
                if(currentPage>5){
                    page+=`<li class="page-itemr" id="page_${currentPage}"><a class="page-link" href="?page=${prev}">이전</a></li>`
                }
                // 1~5만큼 페이지네이션 그려줌
                for (let i = firstNumber; i <= lastNumber; i++) {
                page += `<li class="page-itemr" id="page_${i}"><a class="page-link" href="?page=${i}">${i}</a></li>`
                }
                // 다음 버튼
                if(currentPage!=totalPage){
                page+=`<li class="page-itemr" id="page_${currentPage}"><a class="page-link" href="?page=${next}">다음</a></li>`
                }
                $('.pagination').append(page);

                str = '<TR>';

                let end_data = data["results"].length


                const list_col = ['사번','구분','이름','영문이름','근무지','부서','팀','직급','직책','입사일','근속일','주민등록번호','생년월일','연락처','비상연락망','회사_이메일','개인_이메일','주소','최종학력','학위','학교','전공','학점','입사구분','경력사항1','경력사항2',
                '경력사항3','경력사항4','경력사항5','자격사항1','자격사항2','자격사항3','자격사항4','자격사항5','어학사항1','어학사항2','어학사항3','어학사항4','어학사항5']; 
                
                for(var j = 0; j < end_data; j++){
                    
                    for(c in list_col){
                        //console.log(data["results"][j].c)
                        str +=  '<TD style="overflow:hidden; white-space : nowrap; text-overflow: ellipsis;">'+data["results"][j][list_col[c]] + '</TD>';
                    }
                    str += '</TR>';
                }
                // 데이터 확인
                console.log("가져오기 성공");
                console.log(data);
                console.log("첫번째 페이지 : " + firstNumber);
                console.log("마지막 페이지 : " + lastNumber);
                console.log("데이터 개수 : " + totalCount);
                console.log("현재 페이지 : " + currentPage);
                console.log("전체 페이지 : " + totalPage);

                $('.table_body').append(str);

            },
            error: function(result) {
                $('#main_title').append("로그인이 필요합니다 !");
            }

        })

    })
</script>
{% endblock %}