{% extends "base.html" %}

{% block content %}
<style>
    th {
        overflow:hidden; white-space : nowrap; text-overflow: ellipsis;
    }
</style>
<div class="row">
    <div class="col-7">
        </br>
        <div class="container">
            <div>
                <h1><b>중헌제약 퇴직자 명단</b></h1>
            </div>
            </br>
           
            <div class="row">
                <div class="col-5">
                    <input id="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" value=""></input>
                </div>
                <div class="col-5">
                    <button class="btn btn-outline-success" type="submit" onclick="search()">검색</button>
                </div>
            </div></br>
        </div></br>
        <div class="container">
            <table class="table table-hover">
                <thead>
                    <tr  id="plus_th">
                        <!-- 테이블 컬럼 -->
                    </tr>
                </thead>
                <tbody class="table_body">
                </tbody>
            </table>
        </div>
        <div class="container text-center">
            <h1 id="main_title"></h1>
        </div>
    </div>
    <div class="col-5"></div>

    <!--페이지네이션-->
    <div class="position-relative">
        <div class="position-absolute top-50 start-50 translate-middle">
            <nav aria-label="Page navigation example">
                <ul class="pagination"></ul>
            </nav>
        </div></br></br>
    </div>
</div></br>

<script>
    $(document).ready(reqAjax(1))
    var ordering

    function search(){
        search_keyword = $('#search').val();
        ordering = ""
        reqAjax(1)
    } 

    function sort(sortHow) {
        search_keyword = $('#search').val();
        ordering = sortHow
        reqAjax(1)
    }

    function reqAjax(currentPage) {
       
        var search_keyword = $('#search').val();
        
        //console.log(`검색어 : ${search_keyword}`)
        //console.log(`현재 페이지 : ${currentPage}`)
        
        api_url = `/erp/api/Incumbent/?ordering=${ordering}&page=${currentPage}&search=${search_keyword}&퇴직여부=true`

        $.ajax({
            url: api_url
            , method : 'GET'
            , dataType:"json"
            , success :  function(data){
                $('.table_body').empty()
                $('.pagination').empty()

                var totalCount = data["count"] // 전체 데이터 수
                var totalPage = Math.ceil(totalCount / 10) // 전체 페이지 수
                
                const pageCount = 5 //페이지 그룹 수

                let totalGroup = Math.ceil(totalPage / pageCount)
                let pageGroup = Math.ceil(currentPage / pageCount) 
                let lastNumber = pageGroup * pageCount // 페이지 그룹에서 마지막 번호

                if(totalGroup==pageGroup){
                    var firstNumber = lastNumber - (pageCount - 1) // 페이지 그룹에서 첫번째 번호
                }
                else{
                    var firstNumber = lastNumber - (pageCount - 1) 
                }
                if (lastNumber > totalPage) {lastNumber = totalPage} // 페이지 그룹에서 마지막 번호
                //if(firstNumber<=0){firstNumber=1} 
                
                const next = lastNumber + 1 // 다음 버튼 눌렀을때 페이지 번호
                const prev = firstNumber - 1 // 이전 버튼 눌렀을때 페이지 번호

                var page = ""

                // 이전 버튼
                if(currentPage>5){
                    page+=`<li class="page-itemr" id="page_${currentPage}"><a class="page-link" onclick="reqAjax('${prev}')">이전</a></li>`
                }
                // 1~5만큼 페이지네이션 그려줌
                for (let i = firstNumber; i <= lastNumber; i++) {
                    if(currentPage==i){
                        page += `<li class="page-item active" id="page_${i}"><a class="page-link" onclick="reqAjax('${i}')">${i}</a></li>`        
                    }
                    else{page += `<li class="page-itemr" id="page_${i}"><a class="page-link" onclick="reqAjax('${i}')">${i}</a></li>`}
                }
                // 다음 버튼
                if((totalGroup!=pageGroup)&&(currentPage!=totalPage)){
                    page += `<li class="page-itemr" id="page_${currentPage}"><a class="page-link" onclick="reqAjax('${next}')">다음</a></li>`
                }
                $('.pagination').append(page);

                
                let end_data = data["results"].length

                const list_col = ['사번','구분','이름','영문이름','근무지','부서','팀','직급','직책','입사일','근속일','주민등록번호','생년월일','연락처','비상연락망','회사_이메일','개인_이메일','주소','최종학력','학위','학교','전공','학점','입사구분','경력사항1','경력사항2',
                '경력사항3','경력사항4','경력사항5','자격사항1','자격사항2','자격사항3','자격사항4','자격사항5','어학사항1','어학사항2','어학사항3','어학사항4','어학사항5'];

                str = '<TR>';
                th_str = ''

                for(c in list_col){
                    if(list_col[c]=="사번"){
                        th_str += sortText(list_col[c]);
                    }
                    else if(list_col[c]=="이름"){
                        th_str += sortText(list_col[c]);
                    }
                    else{th_str += `<th scope='col'>${list_col[c]}</th>`;}
                }
                th_str +=`<th scope='col'>옵션</th>`;
                
                for(var j = 0; j < end_data; j++){
                    for(c in list_col){
                        if(`${data["results"][j][list_col[c]]}`=="null"){
                            str +=  `<TD style="overflow:hidden; white-space : nowrap; text-overflow: ellipsis;"> </TD>`;
                        }
                        else{
                            str +=  `<TD style="overflow:hidden; white-space : nowrap; text-overflow: ellipsis;"> ${data["results"][j][list_col[c]]} </TD>`;
                        }
                    }
                    str = str + 
                    `<TD>
                        <div class="dropdown">
                            <a class="btn btn-danger dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">옵션</a>
                            <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="/erp/incumbent/${data["results"][j].사번}">수정</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" onclick="formDelete(${data["results"][j].사번},'${data["results"][j].이름}')">퇴직</a>
                            </li>
                            </ul>
                        </div> 
                    </TD>
                    </TR>`;
                }

                $('#plus_th').append(th_str);
                $('.table_body').append(str);

                console.clear()
                console.log("첫번째 페이지 : " + firstNumber);
                console.log("마지막 페이지 : " + lastNumber);
                console.log("데이터 개수 : " + totalCount);
                console.log("현재 페이지 : " + currentPage);
                console.log("전체 페이지 : " + totalPage);
                console.log("현재 페이지 그룹 : " + pageGroup);
                console.log("전체 페이지 그룹 : " + totalGroup);
                console.log("정렬 : " + ordering);

            }
        })
    }

    function rework(worker_number) {

        var data2 = {'퇴직여부' : false};
        
        $.ajax({
            url:`/erp/api/Incumbent/${worker_number}/`
            , method : 'PATCH'
            , data: JSON.stringify(data2)
            , contentType: 'application/json; charset=UTF-8'
            , dataType: 'json'
            , success : function(){
                location.replace('/erp/retiree')
            }
        })
    }

    function formDelete(worker_number,name) {
        
        $.ajax({
            url:`/erp/api/Incumbent/${worker_number}/`
            , method : 'DELETE'
            , success : function(){
                location.replace('/erp/retiree')
                alert(`${name}님의 영구 삭제 처리가 완료 되었습니다.`)
            }
        })
    }

    function sortText(ordering_text) {
        const string = `<th scope='col'>
            <div class="dropdown" style="position: static;">
                <a class="btn btn-secondary btn-sm dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">${ordering_text}</a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="dropdown-item" onclick="sort('${ordering_text}')">오름차순</a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="dropdown-item" onclick="sort('-${ordering_text}')">내림차순</a>
                    </li>
                </ul>
            </div>
        </th>`;
        return string;
    }
</script>
{% endblock %}